################################
# PENGABAIAN UMUM DAN SISTEM
################################
.DS_Store
Thumbs.db
.vscode/

################################
# DEPENDENSI DAN LINGKUNGAN VIRTUAL
################################

# Proyek React (project_uas)
/project_uas/node_modules
/project_uas/build
/project_uas/dist

# Proyek Flask (flask_uas)
/flask_uas/venv
/flask_uas/__pycache__
*.pyc

################################
# FILE KONFIGURASI SENSITIF
################################
.env