################################
# PENGABAIAN UMUM DAN SISTEM
################################
.DS_Store # Mac OS
Thumbs.db # Windows
.vscode/ # Jika Anda tidak ingin berbagi konfigurasi editor lokal

################################
# DEPENDENSI DAN LINGKUNGAN VIRTUAL
################################

# Proyek React (project_uas)
/project_uas/node_modules
/project_uas/build
/project_uas/dist

# Proyek Flask (flask_uas)
/flask_uas/venv
/flask_uas/__pycache__
*.pyc

################################
# FILE KONFIGURASI SENSITIF
################################

# Jika Anda menyimpan variabel lingkungan
.env